/* PAGE 2 */

body {
    background-color: black;
    color: white;
    display: flex;
}

.hidden {
    /* background-color: #69420C; */
    /* background-color: rgb(255, 255, 255, 0.1); */
    border-radius: 20px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    /* padding-bottom: -30rem; */
}

.heroImg {
    display: block;
    margin: 0 auto;
    border-radius: 5rem;
    width: 32vh;
    height: 32vh;
    transition: transform 0.3s ease;
    filter: brightness(60%);
}

.heroImg:hover {
    transform: scale(1.09);
    border-radius: 2rem;
    cursor: pointer;
}
.backgroundImg {
    height: 40vh;
    width: 194vh;
    position: absolute;
    z-index: 0;
    /* set the top and left properties to position the image behind the input */
    top: 0;
    left: 0;
    filter: contrast(60%);
}
.heroNameElemente {
    /* border: 1px solid black; */
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3rem;
}
.herroImageElement {
    padding-top: 3rem;
    /* border: 1px solid black; */
    position: relative;
}
.line {
    border-top: 0.1px solid rgb(255, 255, 255, 0.4);  
    margin-left: 5rem;
    margin-right: 5rem;
    border-bottom: -3rem;
}

.aside {
    margin-right: 2rem;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 30rem;
    margin-bottom: 32rem;
    margin-top: 5rem;
    margin-left: -1.5rem;
}
h1 {
    font-size: 2.4rem;
    font-family: "Circular Bold",plexeina-bold,Helvetica,sans-serif;
    font-weight: 1000;
    color: rgb(255, 255, 255, 0.9);
}
.asideText {
    font-family: Gotham Rounded SSm,Arial,sans-serif;
    font-weight: 540;
    font-size: 13.2px;
    line-height: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    color: rgb(255, 255, 255, 0.7);
    margin-bottom: 1.3rem;
    text-align: justify;
}
.asideText:last-child {
    margin-top: 0;
}

.section2{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    margin-top: -4rem;
    margin-bottom: -10rem;

}
.heroInfoElement {
    margin-top: 5rem;
    /* border: 2px solid blueviolet; */
    /* manipulationg rows/boxes height */
    width: 33rem;
    height: 50vh;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: repeat(2, 1fr); */
    padding-right: 2.5rem;
    padding-left: 1.5rem;
 
    /* prevent flex container from shrinking this element*/
    flex-shrink: 0;
}
.row1, .row2 {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 20px;
    padding-bottom: 20px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: -20rem;
    /* width: 70%; */
    /* border: 2px solid black; */
}
.row2:hover {
    /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3); */
    transform: scale(1.02);
    cursor: pointer;
}

.row1:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.row1 {
    grid-row: 1;
}
.row2 {
    grid-row: 2;
}


h4 {
    font-size: 1.1rem;
    font-family: "Circular Bold",plexeina-bold,Helvetica,sans-serif;
    font-weight: 1000;
    margin-left: 2rem;
    color: rgb(255, 255, 255, 0.3);
    padding-right: 4rem;
}
li {
    list-style: none;
    text-transform: lowercase;
    font-family: Gotham Rounded SSm,Arial,sans-serif;
    font-weight: 570;
    font-size: 13px;
    line-height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1.5rem;
    color: rgb(255, 255, 255, 0.7)
}
li::first-letter {
    text-transform: uppercase;
  }




  .map {
    width: 27rem;
    height: 16.3rem;
    border: 0;
    border-radius: 20px;
    margin-left: 1.4rem;
    margin-bottom: 16px;
  }



  /* TOGGLE BOTTON */

.toggleButton {
    position: absolute;
    margin-top: -0.5rem;
    margin-left: 78.3rem;
}

input[type="checkbox"]{
	visibility: hidden;
	&:checked + label {
		/* transform: rotate(360deg); */
		background-color: rgba(255, 255, 255, 0.3);
		&:before {
			transform: translateX(22px);
			background-color: black;
		}
	}
}



label {
	display: flex;
	width: 63px;
	height: 37px;
	border-radius: 99em;
	position: relative;
    cursor: pointer;
	transition: transform .75s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);

    &:before {
		transition: transform .7s ease-in-out;
		transition-delay: .1s;
		content: "";
		display: block;
		position: absolute;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		top: 4px;
		left: 7px;
	}
}

/* END */

/* Light mode styles */
body {
    background-color: #69420C;
    color: #000000; 
    transition: background-color 0.7s ease-out;
  }
  
  .toggleButton label:before {
    background-color: white; 
  }
  
  .toggleButton label {
    border-color: #000000; 
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #000000; 
    color: #FFFFFF; 
    transition: background-color 0.5s ease-out;
  }
  
  /* .toggleButton */

/* END */